<div class="container">
  <!-- ngIf example -->
  <section>
    <ng-container *ngIf="source$ | async; else loading">
      <app-my-control [(ngModel)]="pager.currentPage" (pageChanged)="onPageChanged($event)"></app-my-control>
    </ng-container>
    <ng-template #loading>Now app component loading...</ng-template>
  </section>

  <!-- ng-content example -->
  <!-- <section>
    <app-content [src]="source$">
      <app-my-control [(ngModel)]="pager.currentPage" (pageChanged)="onPageChanged($event)"></app-my-control>
    </app-content>
  </section> -->
  <p>
    Current page:
    {{pager.currentPage}}
  </p>
</div>
